* {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: rgb(110, 17, 17);
  background-color: #faf1f1;
}

.block {
  display: block;
  margin-bottom: 7px;
  font-size: 1.1rem
}

.App {
  display: flex;
  margin: 0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 19px auto;
}

.form {
  margin: 20px;
  width: calc(100%-20px);
}

button {
  margin: 15px auto;
  width: 200px;
  font-size: 2rem;
  text-transform: uppercase;
  color: #a34cce;
  background-color: inherit;
  border: none;
}

img {
  height: 100vh;
  margin: 0;
  width: 60%;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
  border: none;
  border-bottom: 1px solid saddlebrown;
  background-color: inherit;
  color: darkcyan;
  caret-color: darkcyan;
  margin-bottom: 7px;
  width: 100%;
}

input::placeholder, select {
  color: darkcyan;
  background-color: #faf1f1;
}

input[type="number"] {
  width: 50px;
  
}

input[type="text"]:focus{
  outline: none;
}

input[type=radio]:checked {
  background-color: red;
  color: green;
  border: 5px solid yellow
}